@use "colors.scss" as *;

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: "Product Sans";
    src: url("./assets/font/product/Product-Sans-Regular.ttf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: "Product Sans";
    src: url("./assets/font/product/Product-Sans-Medium.ttf") format("opentype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: '汉仪文黑-85W';
    src: url('/fonts/hk4e_zh-cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DreamScape';
    src: url('/fonts/DreamScape.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: '汉仪文黑-85W';
    user-select: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px; 
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    margin: 4px 0; 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.6);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.reset-button {
    all: unset; 
    outline: none;
  }
