 $base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

 $accent-color: rgb(173, 83, 137);
$accent-color-2: rgb(60, 16, 83);
$accent: #67285E;
$accent-mix: mix($accent-color, $accent-color-2, 50%);

 $rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #aa83da;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;

 $text: #cdd6f4;
$subtext0: #a6acd8;
$subtext1: #bac2de;
$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;
$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;

 $border-accent: conic-gradient(
  from 0deg,
  $accent-color 0%,
  $accent-color 20%,
  $accent-color-2 20%,
  $accent-color-2 40%,
  $accent-color 40%,
  $accent-color 60%,
  $accent-color-2 60%,
  $accent-color-2 80%,
  $accent-color 80%,
  $accent-color 100%
);

 $arraylist-tag-color: $subtext0;
$menu-button-loader-color: rgb(255, 255, 255);
$clickgui-grid-color: rgba(127, 127, 127, 0.25);
$targethud-base-color: rgba(0, 0, 0, 0.4);
$targethud-text-color: rgba(255, 255, 255, 0);
$targethud-text-dimmed-color: rgba(211, 211, 211, 1);
$primary-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
$hotbar-base-color: rgb(0, 0, 0);
$hotbar-text-color: rgb(255, 255, 255);
$hotbar-experience-color: $green;
$hotbar-health-color: $red;
$hotbar-hunger-color: $flamingo;
$scoreboard-base-color: black;
$menu-account-premium-color: $accent;
$menu-error-color: $red;
$border-thing: rgba(255, 255, 255, 0.1);
$text-dimmed-color: rgba(211, 211, 211, 1);
$dot-color: white;
$text-color: white;
$key-color:rgb(218, 218, 218);
$item-damage-base-color: black;
 :root {
     --color-base: #{$base};
  --color-mantle: #{$mantle};
  --color-crust: #{$crust};
  --border-color:#{$border-thing};
  
     --color-accent: #{$accent};
  --color-accent-color: #{$accent-color};
  --color-accent-color-2: #{$accent-color-2};
  --color-accent-mix: #{$accent-mix};
     --color-text: #{$text};
  --color-subtext0: #{$subtext0};
  --color-subtext1: #{$subtext1};
  --color-surface0: #{$surface0};
  --color-surface1: #{$surface1};
  --color-surface2: #{$surface2};
  
     --color-error: #{$red};
  --color-success: #{$green};
  --color-warning: #{$yellow};
}
